<%= stylesheet_link_tag 'index' %>
<div class="digg_pagination" align="center">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>