
	<div style="padding-top: 50px; min-height: 100%" align="center">
		<%= form_tag(products_path, method: :get) do %>
			<%= text_field_tag :term, params[:term], :placeholder => "Nome do produto" %>
			<div style="text-align: center;">
				<br />
				<%= submit_tag 'Buscar', name: nil, class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>

