<%= stylesheet_link_tag "sidebar" %>
<div class="sidenav">
  <%= form_tag(products_path, method: :get) do %>
  	<%= text_field_tag :term, params[:term] %>
  	<div style="text-align: center;">
  		<%= submit_tag 'Procurar', name: nil, class: "btn btn-search" %>
  	</div>
  <% end %>
</div>
